KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS= 
KERNEL_ARCH_LDFLAGS= 
KERNEL_ARCH_LIBS= 
KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/serial.o \
$(ARCHDIR)/memory.o \
$(ARCHDIR)/idt.o $(ARCHDIR)/idt_asm.o  \
$(ARCHDIR)/gdt.o $(ARCHDIR)/gdt_asm.o  \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/register.o $(ARCHDIR)/register_asm.o \
$(ARCHDIR)/debug_print.o
